
<div class="m-content">
    <div class="m-portlet m-portlet--tab">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
						<span class="m-portlet__head-icon m--hide">
							<i class="la la-gear"></i>
						</span>
                    <h3 class="m-portlet__head-text">
                        {{title}}
                    </h3>
                </div>
            </div>
        </div>

        <form class="m-form m-form--fit m-form--label-align-right m-form--state" [formGroup]="form" autocomplete="off">
            <div class="m-portlet__body">
                <div class="form-group m-form__group m--margin-top-10">
                    <!--<div class="alert m-alert m-alert&#45;&#45;default" role="alert">-->
                    <!--The example form below demonstrates common HTML form elements air(box shadowed) style.-->
                    <!--</div>-->
                </div>
                <div class="form-group m-form__group" [ngClass]="getInputClass('username')">
                    <label for="usernameInput">
                        Логин
                    </label>
                    <input class="form-control m-input m-input--air" id="usernameInput" formControlName="username" placeholder="Username" type="text">
                    <div class="form-control-feedback" *ngIf="errors['username']">
                        {{errors['username'][0]}}
                    </div>
                </div>
                <div class="form-group m-form__group" [ngClass]="getInputClass('password')">
                    <label for="exampleInputPassword1">
                        Пароль
                    </label>
                    <input class="form-control m-input m-input--air" id="exampleInputPassword1" formControlName="password" placeholder="Password" type="password">
                    <div class="form-control-feedback" *ngIf="errors['password']">
                        {{errors['password'][0]}}
                    </div>
                </div>
                <div class="form-group m-form__group" [ngClass]="getInputClass('email')">
                    <label for="exampleInputEmail1">
                        Email адрес
                    </label>
                    <input aria-describedby="emailHelp" class="form-control m-input m-input--air"  formControlName="email" id="exampleInputEmail1" placeholder="Enter email" type="email">
                    <div class="form-control-feedback" *ngIf="errors['email']">
                        {{errors['email'][0]}}
                    </div>
                    <span class="m-form__help">
                        Email адрес будет использоваться для отправления входных данных
                    </span>
                </div>
                <div class="form-group m-form__group" [ngClass]="getInputClass('surname')">
                    <label for="firstNameInput">
                        Фамилия
                    </label>
                    <input class="form-control m-input m-input--air" id="firstNameInput" formControlName="surname" placeholder="Surname" type="text">
                    <div class="form-control-feedback" *ngIf="errors['surname']">
                        {{errors['surname'][0]}}
                    </div>
                </div>
                <div class="form-group m-form__group" [ngClass]="getInputClass('first_name')">
                    <label for="secondNameInput">
                        Имя
                    </label>
                    <input class="form-control m-input m-input--air" id="secondNameInput" formControlName="first_name" placeholder="First name" type="text">
                    <div class="form-control-feedback" *ngIf="errors['first_name']">
                        {{errors['first_name'][0]}}
                    </div>
                </div>
                <div class="form-group m-form__group" [ngClass]="getInputClass('patronymic')">
                    <label for="patronymicInput">
                        Отчество
                    </label>
                    <input class="form-control m-input m-input--air" id="patronymicInput" formControlName="patronymic" placeholder="Patronymic" type="text">
                    <div class="form-control-feedback" *ngIf="errors['patronymic']">
                        {{errors['patronymic'][0]}}
                    </div>
                </div>
                <div class="form-group m-form__group" [ngClass]="getInputClass('blocked')">
                    <label for="exampleSelect1">
                        Блокировка
                    </label>
                    <select class="form-control m-input m-input--air" id="blockedInput" formControlName="blocked">
                        <option value="0">
                            Нет
                        </option>
                        <option value="1">
                            Да
                        </option>
                    </select>
                    <div class="form-control-feedback" *ngIf="errors['blocked']">
                        {{errors['blocked'][0]}}
                    </div>
                </div>
                <div class="form-group m-form__group" [ngClass]="getInputClass('role')">
                    <label for="exampleSelect1">
                        Выберите роль
                    </label>
                    <select class="form-control m-input m-input--air" id="exampleSelect1" formControlName="role" ngDefaultControl="dispatcher">
                        <option value="admin">
                            Администратор
                        </option>
                        <option value="dispatcher">
                            Диспетчер
                        </option>
                    </select>
                    <div class="form-control-feedback" *ngIf="errors['role']">
                        {{errors['role'][0]}}
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions">
                    <button class="btn btn-accent" type="submit" (click)="submitForm()">
                        {{button_label}}
                    </button>
                    <button class="btn btn-secondary" type="reset" (click)="cancelCreate()">
                        Отмена
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>