<div class="m-content">
    <div class="m-portlet m-portlet--tab">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
						<span class="m-portlet__head-icon m--hide">
							<i class="la la-gear"></i>
						</span>
                    <h3 class="m-portlet__head-text">
                        Добавить {{item}}
                    </h3>
                </div>
            </div>
        </div>

        <form class="m-form m-form--fit m-form--label-align-right m-form--state" [formGroup]="form" autocomplete="false">
            <div class="m-portlet__body">
                <div class="form-group m-form__group" [ngClass]="getInputClass('surname')">
                    <label for="nameInput">
                        Название
                    </label>
                    <input class="form-control m-input m-input--air" id="nameInput" formControlName="name"  type="text">
                    <div class="form-control-feedback" *ngIf="errors['name']">
                        {{errors['name'][0]}}
                    </div>
                </div>
                <div class="form-group m-form__group" [ngClass]="getInputClass('first_name')">
                    <label for="costInput">
                        Цена
                    </label>
                    <input class="form-control m-input m-input--air" id="costInput" formControlName="cost" type="cost">
                    <div class="form-control-feedback" *ngIf="errors['cost']">
                        {{errors['cost'][0]}}
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions">
                    <button class="btn btn-accent" type="submit" (click)="submitForm()">
                        Добавить {{item}}
                    </button>
                    <button class="btn btn-secondary" type="reset" (click)="cancelCreate()">
                        Отмена
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>