<div class="m-content">
    <div class="m-portlet m-portlet--tab">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
						<span class="m-portlet__head-icon m--hide">
							<i class="la la-gear"></i>
						</span>
                    <h3 class="m-portlet__head-text">
                        {{title}}
                    </h3>
                </div>
            </div>
        </div>

        <form class="m-form m-form--fit m-form--label-align-right m-form--state" [formGroup]="form" autocomplete="false">
            <div class="m-portlet__body">
                <div class="form-group m-form__group" [ngClass]="getInputClass('surname')">
                    <label for="first_nameInput">
                        Фамилия
                    </label>
                    <input class="form-control m-input m-input--air" id="first_nameInput" formControlName="surname" placeholder="Фамилия" type="text">
                    <div class="form-control-feedback" *ngIf="errors['surname']">
                        {{errors['surname'][0]}}
                    </div>
                </div>
                <div class="form-group m-form__group" [ngClass]="getInputClass('first_name')">
                    <label for="second_nameInput">
                        Имя
                    </label>
                    <input class="form-control m-input m-input--air" id="second_nameInput" formControlName="first_name" placeholder="Имя" type="text">
                    <div class="form-control-feedback" *ngIf="errors['first_name']">
                        {{errors['first_name'][0]}}
                    </div>
                </div>
                <div class="form-group m-form__group" [ngClass]="getInputClass('patronymic')">
                    <label for="patronymicInput">
                        Отчество
                    </label>
                    <input class="form-control m-input m-input--air" id="patronymicInput" formControlName="patronymic" placeholder="Отчество" type="text">
                    <div class="form-control-feedback" *ngIf="errors['patronymic']">
                        {{errors['patronymic'][0]}}
                    </div>
                </div>
                <div class="form-group m-form__group" [ngClass]="getInputClass('phone')">
                    <label for="phoneInput">
                        Телефон
                    </label>
                    <input class="form-control m-input m-input--air" id="phoneInput" formControlName="phone" placeholder="Телефон" type="text">
                    <div class="form-control-feedback" *ngIf="errors['phone']">
                        {{errors['phone'][0]}}
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions">
                    <button class="btn btn-accent" type="submit" (click)="submitForm()">
                        {{button_label}}
                    </button>
                    <button class="btn btn-secondary" type="reset" (click)="cancelCreate()">
                        Отмена
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>