<div class="m-content">
    <div class="m-portlet m-portlet--tab">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
						<span class="m-portlet__head-icon m--hide">
							<i class="la la-gear"></i>
						</span>
                    <h3 class="m-portlet__head-text">
                        {{title}}
                    </h3>
                </div>
            </div>
        </div>

        <form class="m-form m-form--fit m-form--label-align-right m-form--state" [formGroup]="form"
              autocomplete="false">
            <div class="m-portlet__body">
                <ng-container>
                    <div class="form-group m-form__group row" [ngClass]="getInputClass('execution_date')">
                        <label class="col-lg-2 col-form-label">
                            Дата и время подачи
                        </label>
                        <div class="col-lg-8">
                            <input max="2018-12-31" class="form-control m-input m-input--air" id="execution_dateInput"
                                   formControlName="execution_date" type="datetime-local">
                            <div class="form-control-feedback" *ngIf="errors['execution_date']">
                                {{errors['execution_date'][0]}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-form__group row" [ngClass]="getInputClass('customer')">
                        <label class="col-lg-2 col-form-label">
                            Организация/ФИО заказчика
                        </label>
                        <div class="col-lg-8">
                            <input class="form-control m-input m-input--air" id="customerInput" formControlName="customer"
                                   type="text">
                            <div class="form-control-feedback" *ngIf="errors['customer']">
                                {{errors['customer'][0]}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-form__group row" [ngClass]="getInputClass('address')">
                        <label class="col-lg-2 col-form-label">
                            Адрес обьекта
                        </label>
                        <div class="col-lg-8">
                            <input class="form-control m-input m-input--air" id="addressInput" formControlName="address"
                                   type="text">
                            <div class="form-control-feedback" *ngIf="errors['address']">
                                {{errors['address'][0]}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-form__group row" [ngClass]="getInputClass('phone_number')">
                        <label class="col-lg-2 col-form-label">
                            Номер телефона
                        </label>
                        <div class="col-lg-8">
                            <input max="2018-12-31" class="form-control m-input m-input--air" id="phone_numberInput"
                                   formControlName="phone_number" type="text">
                            <div class="form-control-feedback" *ngIf="errors['phone_number']">
                                {{errors['phone_number'][0]}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-form__group row" [ngClass]="getInputClass('comment')">
                        <label class="col-lg-2 col-form-label">
                            Комментарий к заказу
                        </label>
                        <div class="col-lg-8">
                            <input class="form-control m-input m-input--air" id="commentInput" formControlName="comment"
                                   type="text">
                            <div class="form-control-feedback" *ngIf="errors['comment']">
                                {{errors['comment'][0]}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-form__group row" [ngClass]="getInputClass('payment_type')">
                        <label class="col-lg-2 col-form-label">
                            Тип оплаты
                        </label>
                        <div class="col-lg-8">
                            <select class="form-control m-input m-input--air" id="payment_typeInput"
                                    formControlName="payment_type" formControlName="payment_type">
                                <option [ngValue]="null"></option>
                                <option *ngFor="let item of order.getPaymentStatusList()" [value]="item.id">{{item.label}}
                                </option>
                            </select>
                            <div class="form-control-feedback" *ngIf="errors['payment_type']">
                                {{errors['payment_type'][0]}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-form__group row" [ngClass]="getInputClass('status')">
                        <label class="col-lg-2 col-form-label">
                            Статус
                        </label>
                        <div class="col-lg-8">
                            <select class="form-control m-input m-input--air" id="statusInput"
                                    formControlName="status">
                                <option *ngFor="let item of order.getOrderStatusList()" [value]="item.id">{{item.label}}
                                </option>
                            </select>
                            <div class="form-control-feedback" *ngIf="errors['status']">
                                {{errors['status'][0]}}
                            </div>
                        </div>
                    </div>
                </ng-container>

                <ng-container>
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
						<span class="m-portlet__head-icon m--hide">
							<i class="la la-gear"></i>
						</span>
                                <h3 class="m-portlet__head-text">
                                    Работы
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div class="form-group m-form__group row ">
                        <label class="col-lg-2 col-form-label">
                            Название работы
                        </label>
                        <div class="col-lg-2 col-form-label">
                            Статус
                        </div>
                        <div class="col-lg-2 col-form-label">
                            Исполнитель
                        </div>
                        <div class="col-lg-2 col-form-label">
                            Оплата
                        </div>
                    </div>
                    <div class="form-group m-form__group row " formGroupName="jobs" *ngFor="let job of types_of_jobs">
                        <ng-container
                                [formGroupName]="job.type"
                        >
                            <label class="col-lg-2 col-form-label">
                                {{job.label}}
                            </label>
                            <div class="col-lg-2">
                                <select class="form-control m-input m-input--air" placeholder="Статус"
                                        formControlName="status">
                                    <option [ngValue]="null">-- статус --</option>
                                    <option *ngFor="let item of order.getJobStatusList()" [value]="item.id">{{item.label}}
                                    </option>
                                </select>

                            </div>
                            <div class="col-lg-2">
                                <select class="form-control m-input m-input--air" placeholder="performer_id"
                                        formControlName="performer_id">
                                    <!--<option [value]="">&#45;&#45; исполнитель &#45;&#45;</option>-->
                                    <option *ngFor="let item of performersList" [value]="item.id">
                                        {{item.first_name+' '+item.surname+' '+item.patronymic}}
                                    </option>
                                </select>

                            </div>

                        </ng-container>
                    </div>
                </ng-container>

                <ng-container>
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
						<span class="m-portlet__head-icon m--hide">
							<i class="la la-gear"></i>
						</span>
                                <h3 class="m-portlet__head-text">
                                    Материалы
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div class="form-group  m-form__group row">
                        <label class="col-lg-2 col-form-label">
                            № п.п.
                        </label>
                        <div class="col-lg-2 col-form-label">
                            Количество
                        </div>
                        <div class="col-lg-2 col-form-label">
                            Сумма
                        </div>
                        <div class="col-lg-2 col-form-label">
                            Стоимость
                        </div>
                        <div class="col-lg-3 col-form-label">
                            Материал
                        </div>
                    </div>

                    <div class="form-group  m-form__group row"
                         formArrayName="materials"
                         *ngFor="let item of form.controls['materials']['controls']; let i = index;">
                        <ng-container
                                [formGroupName]="i"
                        >
                            <label class="col-lg-2 col-form-label">
                                Материал № {{i+1}}
                            </label>
                            <div class="col-lg-2">
                                <input class="form-control" min="1" type="number" formControlName="count">
                            </div>
                            <div class="col-lg-2">
                                <input class="form-control" min="1" type="number" formControlName="cost">
                            </div>
                            <div class="col-lg-2">
                                <div class="form-control">
                                    {{totalPrice(item)}}
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <select class="form-control m-input m-input--air"
                                        formControlName="material_id">
                                    <option *ngFor="let item of materialsList" [ngValue]="item.id">
                                        {{item.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-lg-1">
                                <a href="#"
                                   (click)="removeMaterialItem(item[i-1])"
                                   class="btn btn-danger m-btn m-btn--icon m-btn--icon-only">
                                    <i class="la la-remove"></i>
                                </a>
                            </div>
                        </ng-container>
                    </div>
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col">
                            <div
                                    (click)="addMaterialItem()"
                                    class="btn btn btn-primary m-btn m-btn--icon">
                            <span>
                                <i class="la la-plus"></i>
                                <span>
                                    Добавить материал
                                </span>
                            </span>
                            </div>
                        </div>
                    </div>
                </ng-container>

            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions">
                    <button class="btn btn-accent" type="submit" (click)="submitForm()">
                        {{button_label}}
                    </button>
                    <button class="btn btn-secondary" type="reset" (click)="cancelCreate()">
                        Отмена
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>