.inner-table {
    margin: 0 auto;
    font-family: initial;
}

.inner-table td {
    padding: 3px;
    width: 30px;
    height: 25px;
    font-weight: bold;

    border-spacing: 2px;
    text-align: center;
    border-collapse: collapse;
}
.inner-table th {
    padding: 3px;
    width: 30px;
    height: 25px;

    border-spacing: 2px;
    text-align: center;
    /*border: 1px solid #595959;*/
    border-collapse: collapse;
}

.table-cell-align {
    padding: 20px 0px;
    text-align: center;
}

.bg-3 td{
    background-color: #45ccb1 !important;
    color: #000 !important;
    border-color: #000 !important;
}
.bg-2 td{
    color: #000 !important;
    background-color: dodgerblue !important;
    border-color: #000 !important;
}
.bg-4 td{
    color: #000 !important;
    background-color: #f66e84 !important;
    border-color: #000 !important;
}
.bg-1 span,.bg-1 a,.bg-1 i,.bg-1 div{
    color: #000 !important;
}
.bg-2 span,.bg-2 a,.bg-2 i,.bg-2 div{
    color: #000 !important;
}
.bg-3 span,.bg-3 a,.bg-3 i,.bg-3 div{
    color: #000 !important;
}
.bg-4 span,.bg-4 a,.bg-4 i,.bg-4 div{
    color: #000 !important;
}
.bg-5 span,.bg-5 a,.bg-5 i,.bg-5 div{
    color: #000 !important;
}
.bg-1 td{
    color: #000 !important;
    background-color: yellow !important;
    border-color: #000 !important;
}

.no-padding div{
    padding-top:0 !important;
    padding-bottom:0 !important;
}
.datatable-div > div:not(:first-child){
    border-top:1px solid black;
}

.no-padding div + .no-padding div {
    border-top:0;
}

.no-padding-div {
    padding-top:0 !important;
    padding-bottom:0 !important;
}
.datatable-div {
    height:100%; width:100%;
}

.datatable-div .row {
    margin:inherit;
}