<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <!--<h3 class="m-subheader__title m-subheader__title&#45;&#45;separator">-->
            <!--Remote Data-->
            <!--</h3>-->
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							{{title}}
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Список заказов
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-4">
                                <div class="m-form__group m-form__group--inline">
                                    <div class="m-form__label">
                                        <label>
                                            Номер заказа:
                                        </label>
                                    </div>
                                    <div class="m-form__control">
                                        <input class="form-control m-input m-input--solid" id="id" [(ngModel)]="search.id"
                                                type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="m-form__group m-form__group--inline">
                                    <div class="m-form__label">
                                        <label>
                                            Дата заказа:
                                        </label>
                                    </div>
                                    <div class="m-form__control">
                                        <input class="form-control m-input m-input--solid" id="execution_date" [(ngModel)]="search.execution_date"
                                               type="date">
                                    </div>
                                    </div>
                                <div class="d-md-none m--margin-bottom-10"></div>
                            </div>
                            <div class="col-md-4">
                                <div class="m-form__group m-form__group--inline">
                                    <div class="m-form__label">
                                        <label>
                                            Наименование:
                                        </label>
                                    </div>
                                    <div class="m-form__control">
                                        <input class="form-control m-input m-input--solid" id="customer" [(ngModel)]="search.customer"
                                               type="text">
                                    </div>
                                    </div>
                                <div class="d-md-none m--margin-bottom-10"></div>
                            </div>
                            <div class="col-md-4">
                                <div class="m-form__group m-form__group--inline">
                                    <div class="m-form__label">
                                        <label>
                                            Адрес:
                                        </label>
                                    </div>
                                    <div class="m-form__control">
                                        <input class="form-control m-input m-input--solid" id="address" [(ngModel)]="search.address"
                                                type="text">
                                    </div>
                                </div>
                                <div class="d-md-none m--margin-bottom-10"></div>
                            </div>
                            <div class="col-md-4">
                                <div class="m-form__group m-form__group--inline">
                                    <div class="m-form__label">
                                        <label>
                                            Номер телефона:
                                        </label>
                                    </div>
                                    <div class="m-form__control">
                                        <input class="form-control m-input m-input--solid" id="phone_number" [(ngModel)]="search.phone_number"
                                                type="text">
                                    </div>
                                </div>
                                <div class="d-md-none m--margin-bottom-10"></div>
                            </div>
                            <div class="col-md-4">
                                <div class="m-form__group m-form__group--inline">
                                    <div class="m-form__label">
                                        <label>
                                            Комментарий:
                                        </label>
                                    </div>
                                    <div class="m-form__control">
                                        <input class="form-control m-input m-input--solid" id="comment" [(ngModel)]="search.comment"
                                                type="text">
                                    </div>
                                </div>
                                <div class="d-md-none m--margin-bottom-10"></div>
                            </div>
                            <div class="col-md-4">
                                <div class="m-form__group m-form__group--inline">
                                    <div class="m-form__label">
                                        <label>
                                            Статусы:
                                        </label>
                                    </div>
                                    <div class="m-form__control">
                                        <select class="form-control m-input m-input--solid " id="status"[(ngModel)]="search.status">
                                            <option value="">
                                                -- Все статусы --
                                            </option>
                                            <option *ngFor="let option of order.getOrderStatusList()" [value]="option.id">
                                                {{option.label}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="d-md-none m--margin-bottom-10"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                        <a [routerLink]="['new']"
                           class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
							<span>
								<i class="la la-cart-plus"></i>
								<span>
									Новый {{itemTitle}}
								</span>
							</span>
                        </a>
                        <div class="m-separator m-separator--dashed d-xl-none"></div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->        <!--begin: Datatable -->
            <div class='m_datatable orders text-center' id="orders"></div>
            <!--end: Datatable -->
        </div>
    </div>
</div>
<div class="modal fade" id="m_modal_1_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Стоимость затрат - {{modal_data.total}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							&times;
						</span>
                </button>
            </div>
            <div class="modal-body">
                Стоимость материала - {{modal_data.payment_price}}<br>
                Сумма оплат исполнителю - {{modal_data.material_price}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Закрыть
                </button>
            </div>
        </div>
    </div>
</div>